{% extends "base.html.twig" %}

{% block content_wrapper %}
    <div class="container">
        <h1>{{ nameOfSpacePl }} of {{ accountName }}</h1>

        <div class="list-group">
            {% for space in spaces %}
                <a href="{{ path('space_view', {'accountName': accountName, 'spaceName': space.name }) }}" class="list-group-item">
                    {{ accountName }} / {{ space.name }}
                </a>
            {% endfor %}
        </div>

        <div class="btn-group">
            {#
            <a class="btn btn-primary" href="{{ path('space_add', {'accountName': accountName}) }}">Add {{ nameOfSpace }}</a>
            #}

            <a class="btn btn-primary" href="{{ path('space_new', {'accountName': accountName}) }}">Add Space</a>
        </div>
    </div>
{% endblock %}
