{% extends "@Theme/layout.html.twig" %}

{% block content_wrapper %}
    <div class="container">
        <h1>Permissions</h1>
        <h3>{{ accountName }} / <a href="{{ path('space_view', {'accountName': accountName, 'spaceName': spaceName}) }}">{{ spaceName }}</a></h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr><th>Username</th><th></th></tr>
            </thead>
            <tbody>
                {% for p in permissions %}
                <tr>
                    <td>{{ p.username }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('permission_delete', {'accountName': accountName, 'spaceName': spaceName, 'permissionId': p.id}) }}">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <fieldset>
            <legend>Add user</legend>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form action="{{ path('permission_add', {'accountName': accountName, 'spaceName': spaceName}) }}" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="P_username" />
                </div>
                <div class="buttonbox">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}
