{% extends "base.html.twig" %}

{% block content_wrapper %}
    <div class="row">
        <h1>Permissions</h1>
        <h3>{{ accountName }} / <a href="{{ path('space_view', {'accountName': accountName, 'spaceName': spaceName}) }}">{{ spaceName }}</a></h3>
        <fieldset>
            <legend>Add user</legend>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form action="{{ path('permission_add', {'accountName': accountName, 'spaceName': spaceName}) }}" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="P_username" required="required" />

                    {% if app['space_roles'] is defined %}
                        <label>Roles</label>

                        {% if app.space_roles is iterable %}
                            <select name="P_roles"  class="form-control">
                                {% for key, role in app.space_roles %}
                                    <option value="{{ key }}" >
                                        {% if  role['label'] is defined %}
                                            {{ role.label }}
                                        {% else %}
                                            {{ key }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="text"  name="P_roles"  class="form-control"  />
                        {% endif %}

                    {% endif %}

                    {% if app['roles']['expire'] is defined %}
                        <label>Expire Date</label>
                        <input type="date"  name="P_expiredate"  class="form-control" required="required" placeholder="dd/mm/yyyy" value="{{ "now"|date('d/m/Y') }}" />
                    {% endif %}

                </div>
                <div class="buttonbox">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </fieldset>
        <br />
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    {% if app['space_roles'] is defined %}
                        <th>Roles</th>
                    {% endif %}
                    {% if app['roles']['expire'] is defined %}
                        <th>Expire Date</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in permissions %}
                <tr>
                    <td>{{ p.username }}</td>
                    <td>{{ p.getDisplayName() }}</td>
                    {% if app['space_roles'] is defined %}
                        <td>{{ p.roles }}</td>
                    {% endif %}
                    {% if app['roles']['expire'] is defined %}
                        <td>{% if p.expiredate is not null %} {{ p.expiredate|date('d/m/Y') }} {% endif %}</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-danger" href="{{ path('permission_delete', {'accountName': accountName, 'spaceName': spaceName, 'permissionId': p.id}) }}">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
