<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
    {% endblock %}

    <title>{% block title %}{{ app_name|default('Radvance')|capitalize }}{% endblock %}</title>

    {% block stylesheets %}
        {% block stylesheets_default %}
            <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bower/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bower/bootswatch-dist/css/bootstrap.min.css') }}" />
        {% endblock %}

        {% block stylesheets_custom %}
            <link rel="stylesheet" href="{{ asset('style.css') }}" />
        {% endblock %}
    {% endblock %}
</head>

<body>
    {% block menu %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('frontpage' ) }}">{{ app_name|default('Radvance')|capitalize }}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block menu_default %}
                        {% for page in main_menu|default([]) %}
                            <li><a href="{{ page['href'] }}">{{ page['name'] }}</a></li>
                        {% endfor %}
                    {% endblock %}

                    {% block menu_linkorb %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About LinkORB Engineering <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://engineering.linkorb.com/blog" target="_blank">Blog</a></li>
                                <li><a href="http://engineering.linkorb.com/careers" target="_blank">Career</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Cool stuff</li>
                                <li><a href="https://github.com/linkorb" target="_blank">Our Github page</a></li>
                                <li><a href="https://www.facebook.com/linkorb-engineering" target="_blank">Our Facebook page</a>
                                </li>
                                <li><a href="https://packagist.org/packages/linkorb/" target="_blank">Our Packagist Contributions</a></li>
                                <li><a href="http://engineering.linkorb.com/code-with-us" target="_blank">Code with us</a></li>
                            </ul>
                        </li>
                    {% endblock menu_linkorb %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block menu_right %}
                        {% if current_user is defined %}
                            <li><a href="{{ path('frontpage') }}">{{ current_user.getDisplayName }}</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                        {% endif %}
                    {% endblock menu_right %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    {% endblock menu %}

    {% block container %}
        <div class="container" id="content">
            <div class="row">
                <div class="col-md-12">
                    {% block flashes %}
                        {% include '@BaseTheme/flashes.html.twig' %}
                    {% endblock flashes %}

                    {% block content_wrapper %}
                        {% block content %}{% endblock content %}
                    {% endblock content_wrapper %}
                </div>
            </div>
        </div>
        <!-- /container -->
    {% endblock container %}

    {% block footer %}
        {% include '@BaseTheme/footer.html.twig' %}
    {% endblock %}

    {% block scripts %}
        {% block scripts_default %}
            <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block scripts_custom %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>
